<%= form_for(@snippet) do |f| %>
    <% if @snippet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>
          <ul>
            <% @snippet.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table class="table table-striped ">
      <thead>
      <tr>
        <th colspan="2">
          <div class="field">
            <%= f.collection_select :package_id, Library.all, :id, :title %>
          </div>
        </th>
        <th colspan="2">
          <div class="field">
            <%= f.collection_select :language_id, Language.all, :id, :title %>
          </div>
        </th>
      </tr>
      <tr>
        <th colspan="2">
          <div class="field">
            <%= f.text_field :title, :title => "Title" %>
          </div>
        </th>
        <th colspan="2">
          <div class="field">
            <%= f.text_field :description, :title => "Description" %>
          </div>
        </th>
      </tr>
      <tr>
        <th colspan="4">
          <div class="field">
            <%= f.text_area :source %>
          </div>
        </th>
      </tr>
    </table>









  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

