<p id="notice"><%= notice %></p>

<div class="accordion" id="accordion<%= snippet.id %>">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= snippet.id %>" href="#collapse<%= snippet.id %>code">
        Details
      </a>
    </div>
    <div id="collapse<%= snippet.id %>code" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
          <b>Library:</b>
          <%= snippet.package.title %>
        </p>
        <p>
          <b>Title:</b>
          <%= snippet.title %>
        </p>
        <p>
          <b>Description:</b>
          <%= snippet.description %>
        </p>
        <p>
          <b>Language:</b>
          <%= snippet.language.title %>
        </p>
        <%= link_to 'Edit', edit_snippet_path(snippet) %> |
        <%= link_to 'Back', snippets_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= snippet.id %>" href="#collapse<%= snippet.id %>settings">
        Source Code
      </a>
    </div>
    <div id="collapse<%= snippet.id %>settings" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= code(snippet.source, snippet.language.title).html_safe %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= snippet.id %>" href="#collapse<%= snippet.id %>comments">
        Comments
      </a>
    </div>
    <div id="collapse<%= snippet.id %>comments" class="accordion-body collapse in">
      <div class="accordion-inner">
        {Kommentare}
      </div>
    </div>
  </div>
</div>