<p>
  <a data-toggle="modal" href="#modal_com_id<%= snippet.id %>" class="btn btn-mini btn-success">Add Comment</a>
  <%= link_to 'Edit', edit_snippet_path(snippet), :class => "btn btn-mini btn-warning" %>
  <%= link_to 'Delete', snippet, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %>
</p>



<div class="accordion" id="accordion<%= snippet.id %>">
  <div class="accordion-group">

    <div class="accordion-heading">

      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= snippet.id %>" href="#collapse<%= snippet.id %>code">
        Details
      </a>
    </div>
    <div id="collapse<%= snippet.id %>code" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
          <b>Library:</b>
          <%= snippet.package.title %>
        </p>
        <p>
          <b>Title:</b>
          <%= snippet.title %>
        </p>
        <p>
          <b>Description:</b>
          <%= snippet.description %>
        </p>
        <p>
          <b>Language:</b>
          <%= snippet.language.title %>
        </p>

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= snippet.id %>" href="#collapse<%= snippet.id %>settings">
        Source Code
      </a>
    </div>
    <div id="collapse<%= snippet.id %>settings" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= code(snippet.source, snippet.language.title).html_safe %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= snippet.id %>" href="#collapse<%= snippet.id %>comments">
        Comments
      </a>
    </div>
    <div id="collapse<%= snippet.id %>comments" class="accordion-body collapse in">
      <div class="accordion-inner">


        <table class="table table-striped table-condensed">
          <thead>
          <% if snippet.comments.blank? %>
                      <i>No comments yet...</i>
          <% else %>
              <% snippet.comments.each do |comment| %>
                  <tr>
                    <th>
                      <blockquote>
                        <p><%= comment.comment %></p>
                        <small><%= comment.user.name %></small>
                      </blockquote>
                    </th>
                    <% if current_user == comment.user %>
                        <th>
                          <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %>
                          <%= link_to 'Edit', edit_comment_path(comment), :class => "btn btn-mini btn-info" %>
                        </th>
                    <% end %>
                  </tr>
              <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal hide" id="modal_com_id<%= snippet.id %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>New Comment <%= snippet.title %></h3>
  </div>
  <%= render partial: 'comments/form', :locals => { :snippet => snippet.id} %>
</div>