<div class="span12">
  <!--Body content-->
  <table class="table table-striped">
      <thead>
      <tr>
        <th>Library</th>
        <th>Title</th>
        <th>Description</th>
        <th>Language</th>
        <th>Lines</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @snippets.each do |snippet| %>
          <tr>
            <td><%= snippet.library.title %></td>

            <td><%= snippet.title %></td>
            <td><%= snippet.description %></td>
            <td><%= snippet.language.title %></td>
            <td><%= codelines(snippet.source) %>
            </td>
            <td><%= link_to 'Show', snippet %></td>
            <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
            <td><%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
  </table>
</div>




