<ul class="breadcrumb">
  <li>
    <%= link_to "Home", snippets_path %><span class="divider">/</span>
  </li>
  <li class="active">
    <%= link_to @library.title, library_path %><span class="divider">&rArr; <%= @library.description %></span>
  </li>
</ul>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <% @active_object = true %>
    <% @library.projects.packages.snippets.each do |snip| %>
        <% if @active_object %>
          <li class="active"><a href="#tab<%= snip.id %>" id="href_id<%= snip.id %>" rel="popover" data-toggle="tab"><%= snip.title %></a></li>
          <% @active_object = false %>
        <% else %>
          <li><a href="#tab<%= snip.id %>" id="href_id<%= snip.id %>" rel="popover" data-toggle="tab"><%= snip.title %></a></li>
        <% end %>

        <script>
            $(function ()
            { $("#href_id<%= snip.id %>").popover({placement: 'bottom', title: '<%= snip.title %> in <%= snip.language.title %>', content: "<%= snip.description %>"});
            });
        </script>

    <% end %>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-wrench"></i> Settings<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a data-toggle="modal" href="#modal_lib_id<%= @library.id %>">Edit Library</a></li>
        <%= link_to 'Delete', @library, method: :delete, data: { confirm: 'Are you sure? All related snippets will be deleted!' } %>
        <li class="divider"></li>
        <li><%= link_to "Snippet erstellen", new_snippet_path %></li>
      </ul>
    </li>
  </ul>

  <div class="tab-content">
    <% @active_show = true %>
    <% @library.snippets.each do |snip| %>
      <% if @active_show %>
        <div class="tab-pane active" id="tab<%= snip.id %>">
          <p><%= render partial: 'snippets/show', :locals => { :snippet => snip} %></p>
        </div>
        <% @active_show = false %>
      <% else %>
        <div class="tab-pane" id="tab<%= snip.id %>">
          <p><%= render partial: 'snippets/show', :locals => { :snippet => snip} %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="modal hide" id="modal_lib_id<%= @library.id %>">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Edit Library <%= @library.title %></h3>
    </div>
      <%= render 'edit' %>
  </div>

</div>
