<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Navigation</li>
    <li>
      <div style='overflow:auto'>
        <% if user_signed_in? %>
            <i class="icon-user"></i><%= link_to current_user.name, user_show_path %><br>
            <i class="icon-off"></i><%= link_to 'Logout', logout_path %>
        <% else %>
            <a href="/auth/github">
              <i class="icon-lock"></i>
              Login
            </a>
        <% end %>
      </div>
    </li>

    <% if user_signed_in? %>
        <li class="nav-header">Create</li>
        <li>
          <div style='overflow:auto'>
            <i class="icon-book"></i><%=  link_to "New Library", new_library_path %><br>
            <i class="icon-bookmark"></i><%= link_to 'New Project', new_project_path %><br>
            <i class="icon-inbox"></i><%= link_to 'New Package', new_package_path %><br>
            <i class="icon-file"></i><%= link_to "New Snippet", new_snippet_path %>
          </div>
        </li>
    <% end %>

    <% if user_signed_in? %>
        <li class="nav-header">Snippets</li>
        <li>
          <% Library.all.each do |lib| %>
              <%= link_to lib.title, edit_library_path %>
              <ul>
                <% lib.projects.each do |project| %>
                    <li>
                      <%= link_to project.title, project %>
                      <ul>
                        <% project.packages.each do |package| %>
                            <li>
                              <%= link_to package.title, package %>
                            </li>
                        <% end %>
                      </ul>
                    </li>
                <% end %>
              </ul>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>