<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>codeStalk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="codeStalk - Source Code Management System">
  <meta name="author" content="Konstantin Schuler">
  <%= stylesheet_link_tag "coderay", "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- HTML5 for IE6-8 support of HTML5 elements -->
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
</head>

<body style="background:url(http://dl.dropbox.com/u/60731690/grids.gif)">

<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row-fluid">

    <div class="span2">
      <%= render 'layouts/sidebar' %>
    </div>

    <div class="span10">

      <%= render 'layouts/noticebar' %>

      <div class="well">
        <div class="row-fluid">
            <%= yield %>
        </div>
      </div>
    </div>

  </div>

  <hr>
  <footer>
    <div class="container">
      <p>&copy; 2012</p>
    </div>
  </footer>
</div>

<script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
